body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header {
    background-color: #3d50a1;
    color: #000000;
    padding: 10px;
    text-align: center;
}
.logo-picture{
    width:30px;
    height: 30px;
}
nav {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}
nav a {
    color: #dddddd;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000000;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    color: #fdfdfd;
}
.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
.available-lessons-list {
    list-style: none;
    padding: 0;
}
.segment {
    margin-bottom: 20px;
    padding: 30px;
    border: 3px solid #2838c9;
    border-radius: 5px;
}
.lesson-element{
    border-style: solid;
    border-color: #2838c9;
    border-radius: 10px;
    background-color: #9ee8ff;

    padding: 10px;
    margin: 5px;
}

.round-button {
    background-color: #2838c9;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.round-button:hover {
    background-color: #636cc5;
}
