body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url(images/background3.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
header {    /*not visible*/
    /*background-color: rgba(255, 255, 255, 0.1);*/
    /*background-color: #ffffff;*/
    color: #000000;
    padding: 20px;
    text-align: center;
}
h1{
    font-size: 3em;
    text-shadow:
            -1px -1px 0 #8f8f8f,
            1px -1px 0 #a1a1a1,
            -1px  1px 0 #a1a1a1,
            1px  1px 0 #ffffff;
}
.logo-picture {
    width: 45px;
    height: 45px;
}
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}
nav a {
    color: #dddddd;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000000;
    margin: 0 5px;
    transition: background-color 0.3s ease;
}
nav a:hover {
    color: #fdfdfd;
}
.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    color: #ffffff;
    text-decoration: none;
    padding: 10px 20px;
    border-radius: 5px;
    background-color: #000000;
    margin: 0 5px;
    transition: background-color 0.3s ease;
    display: inline-block;
}

.dropbtn:hover {
    color: #fdfdfd;
}

.dropdown-content {
    display: none;
    position: absolute;
    /*background-color: #dddddd;*/
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    right: 0;
    border-radius: 4px;
    overflow: hidden;
}

.dropdown-content a {
    color: #dddddd;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    color: #fdfdfd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

/* Styling the search container */
.search-container {
    display: flex;
    align-items: center;
    background-color: #fff;
    border-radius: 25px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 5px;
    width: 400px;
    margin: 0 auto;
}

/* Styling the search input */
.searchInput {
    border: none;
    padding: 10px 15px;
    border-radius: 25px 0 0 25px;
    width: 100%;
    outline: none;
    font-size: 16px;
}

/* Styling the search button */
#searchButton {
    background-color: #000000;
    color: #ffffff;
    border: none;
    padding: 10px 20px;
    border-radius: 0 25px 25px 0;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#searchButton:hover {
    color: #fdfdfd
}

/* Add some focus effect to the input */
#searchInput:focus {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}
.search-container {
    text-align: center;
    margin-bottom: 20px;
}
.available-lessons-list {
    list-style: none;
    padding: 0;
}
.agenda-lessons-list {
    list-style: none;
    padding: 0;
}
.done-lessons-list {
    list-style: none;
    padding: 0;
}
h2{
    color: #ffffff;
    text-shadow:
            -1px -1px 0 #000,
            1px -1px 0 #000,
            -1px  1px 0 #000,
            1px  1px 0 #000;
}
.segment {
    margin-bottom: 20px;
    padding: 30px;
    border: 5px solid #ffffff;
    border-radius: 5px;
}
.lesson-element {
    border-style: solid;
    border-color: #c98234;
    border-radius: 10px;
    background-color: #e1c6a7;
    padding: 10px;
    margin: 5px;
}

.book-button {
    background-color: #c98234;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}
.book-button:hover {
    background-color: #c9a068;
}

.cancel-button {
    background-color: #c92828;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
}

.cancel-button:hover {
    background-color: #c56363;
}

/*Review card*/

.review-element {
    border: 1px solid #61a14b;
    border-radius: 10px;
    background-color: #a1ffa1;
    padding: 20px;
    margin: 10px 0;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
}
.review-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}
.review-student {
    margin: 0;
    font-size: 1.1em;
}
.review-stars {
    margin: 0;
    font-size: 1.1em;
    color: #bda02b;
}
.review-title {
    margin: 10px 0;
    font-size: 1.4em;
    color: #333;
}
.review-body {
    font-size: 1em;
    color: #3b3b3b;
    line-height: 1.4;
    margin-bottom: 15px;
}
.review-date {
    font-size: 0.9em;
    color: #6c6c6c;
}

/***/


#lessonPopup {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.5);
}
.popup-content {
    background-color: #e1c6a7;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 400px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    border-radius: 10px;
}
.closeBtn {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.closeBtn:hover, .closeBtn:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}




.create-lesson-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

#showLessonPopupButton{
    background-color: #3d9f3d;
    border: none;
    color: white;
    padding: 10px 25px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s;
    position: relative;
    justify-content: center;
    align-items: center;
}
#showLessonPopupButton:hover{
    background-color: #5b985b;
}
